# Package metadata files (keep these)
!package.json
!LICENSE
!.vscodeignore

# Keep only the bundled extension
!extension.js
!extension.js.map

# Exclude everything else
**/*.d.ts
**/*.d.ts.map
**/tsconfig.*
*.tsbuildinfo
src/